- [x]  Spanish dataset
- [x]  Small llm selection
- [ ]  Finetune llm with Spanish dataset
- [ ]  create a bot to chat with this llm
- [ ]  Important point → llm needs to remember the history
- [ ]  Design a pattern to implement llm (pattern is about the llm will be language tutor)
- [ ]  Do prompt engineering a bit
- [ ]  Try the final model

all_wiki = load_dataset('large_spanish_corpus', name='all_wiki')